.header{
    height: 10vh;
    width: 100%;
    background-color: #022444;
    font-size:"200" ;


}
a{
    color: white;
    font-size: x-large;
    justify-content: center;
    margin: 5px;
}

h2{
    font-size: xx-large;
}

h4.subHead::before {
    margin-left: 20px;
}

h4.subHead:before, h4.subHead:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}
h4.subHead {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h4 {
    font-size: 2em;
    font-weight: bold;
}


td {
    display: table-cell;
    vertical-align: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
tr.imagesRow::after {
    content: "";
    height: 10px;
}


iframe {
    overflow-clip-margin: content-box !important;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    overflow: clip !important;
}
input[type="text" i] {
    padding: 1px 2px;
}
input:not([type="image" i]) {
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #3f4ed3;
    color: white;
    font-size: 15px;
    border-radius: 8px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  
}

button {
    background-color: #0515ec; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:45%; 
    
  }




